@import "extra-small.css";
@import "small.css";
@import "middle.css";
@import "large.css";


/* ALL *//* ALL *//* ALL */


::-moz-selection {
  color: black;
  background-color: #FD3365;
}

::selection {
  color: black;
  background-color: #FD3365;
}

::-webkit-input-placeholder {
  font-weight: 300;
}



/* Basic Style *//* Basic Style *//* Basic Style *//* Basic Style */

html, body {
    height: 100%;
    background-color: #DDDEE2;
}

main {
    min-height: 100%;
}

.clear-zero {
    clear: both;
    height: 0px;
}

.clear-fifty {
    clear: both;
    height: 50px;
}

.clear-houndred {
    clear: both;
    height: 100px;
}

.fz-11 {
  font-size: 11px;
}

.fz-12 {
  font-size: 12px;
}

.fz-13 {
  font-size: 13px;
}

.fz-14 {
  font-size: 14px;
}

.fz-15 {
  font-size: 15px;
}

.fz-16 {
  font-size: 16px;
}

.fz-18 {
  font-size: 18px;
}

.fz-30 {
  font-size: 30px;
}

.fz-48 {
  font-size: 48px !important;
}

.fw100 {
  font-weight: 100;
}

.fw300 {
  font-weight: 300;
}

.fw400 {
  font-weight: 400 !important;
}

.fw500 {
  font-weight: 500;
}

.f700 {
  font-weight: 700;
}

.fsi {
  font-style: italic;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-35 {
  margin-top: 35px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-80 {
  margin-top: 80px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-120 {
  margin-top: 120px;
}

.mt-150 {
  margin-top: 150px;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-5 {
  margin-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-30 {
  margin-left: 30px;
}

.ml-50 {
  margin-left: 50px;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-5 {
  margin-right: 5px;
}

.mr-15 {
  margin-right: 15px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-30 {
  margin-right: 30px;
}

.mr-50 {
  margin-right: 50px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mb-0-i {
  margin-bottom: 0px !important;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-70 {
  margin-bottom: 70px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-90 {
  margin-bottom: 90px;
}

.mb-100 {
  margin-bottom: 100px;
}

.pt-0 {
  padding-top: 0px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-25 {
  padding-top: 25px;
}

.pt-30 {
  padding-top: 30px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pt-60 {
  padding-top: 60px;
}

.pt-70 {
  padding-top: 70px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-90 {
  padding-top: 90px;
}

.pt-100 {
  padding-top: 100px;
}

.pt-120 {
  padding-top: 120px;
}

.pt-150 {
  padding-top: 150px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pb-90 {
  padding-bottom: 90px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-120 {
  padding-bottom: 120px;
}

.pb-150 {
  padding-bottom: 150px;
}

.pr-30 {
  padding-right: 30px;
}

.pl-30 {
  padding-left: 30px;
}

.pl-90 {
  padding-left: 90px;
}

.p-40 {
  padding: 40px;
}


/* Basic Style *//* Basic Style *//* Basic Style *//* Basic Style */

a {
    text-decoration: none !important;
}

.navbar {
    margin: 0;
    padding: 0;
}




.navbar-basic-top {
    padding-top: 50px;
    border-radius: 0;
    background: #FD3365;
    overflow: hidden;
}

.site-name a {
    color: white;
}

.nav-basic-site-parent {
    margin-top: 20px;
}

.site-nav-basic {
    margin-top: 10px;
}

.site-nav-basic {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(77,77,77,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(77,77,77,1);
    box-shadow: 0px 0px 15px 0px rgba(77,77,77,1);
}

.site-nav-basic li a {
    border-radius: 0;
}

.site-nav-basic li {
    border-radius: 0;
    margin: 0;
    padding: 0;
}

.site-nav-basic a {
    color: white;
    background-color: #FD3365;
}

.site-nav-basic a:hover {
    color: white;
    background-color: #fd1c58 !important;
}

.site-nav-basic a:focus {
    color: white;
    background-color: #fd1c58 !important;
}

.main-container {
    -webkit-box-shadow: 0px 0px 10px 0px rgba(77,77,77,1);
    -moz-box-shadow: 0px 0px 10px 0px rgba(77,77,77,1);
    box-shadow: 0px 0px 15px 0px rgba(77,77,77,1);
    background-color: #F7F7F7;
}

.search-area {
    height: 40px;
}

.main-button-search {
    margin: 0;
    padding: 0;
}

.uzbek-mp3 {
    margin: 10px 0 10px 0;
    padding: 20px 10px 20px 10px;
    background-color: #F7FAFB;
    border: 1px solid #e5e5e5;
}

.hr-mp3 {
    padding:0;
}

.uzbek-mp3 span, .evro-mp3 span, .ispolniteli-mp3 span {
    font-weight: bold;
}

.img-mp3 {
    margin-top: 7px;
}

.trek-parent {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 3px dotted black;
}

.autor-mp3 {
    color: #CC4E55;
}
.posledniy-autor-mp3 {
    font-weight: bold;
    color: #CC4E55;
}

.music-name {
    color: #75797C;
    font-weight: normal !important;
}

.evro-mp3 {
    margin: 10px 0 10px 0;
    padding: 20px 10px 20px 10px;
    background-color: #FFFDEE;
    border: 1px solid #e5e5e5;
}

.ispolniteli-mp3 {
    margin: 10px 0 10px 0;
    padding: 20px 10px 20px 10px;
    background-color: #F7FAFB;
    border: 1px solid #e5e5e5;
    background: url('../images/topsinger.jpg');
}

.ispolniteli-pleylist-ul {
    color: black;
}

.ispolniteli-autor-mp3 {
    color: #DB3760;
}
.ispolniteli-autor-mp3:hover {
    color: red;
}

.ispolniteli-music-name {
    color: black;
    font-weight: normal !important;
}

.ispolniteli-music-name:hover {
    color: #B33E5B;
}

.ispolniteli-pleylist-trek {
    padding-top: 5px;
    padding-bottom: 4.3px;
}

.form-avatar-div {
    width: 110px;
    height: 110px;
    background-color: white;
    border: 5px solid #F99C34;
    border-radius: 100px;
    position: relative;
    bottom: 100px;
}

.form-avatar-div img {
    position: relative;
    top: 10px;
    right: 10px;
}

.form-orange {
    height: 120px;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #F99C34;
}

.form-vxod-p {
    width: 120px;
    font-weight: bold;
    font-size: 17px;
    color: black;
    position: relative;
    top: 20px;
    right: 23px;
}

.sayt-vxod-search {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    border: 0;
    background-color: #E9E4E3;
}

.sayt-vxod-password {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
    border: 0;
    background-color: #E9E4E3;
}

.sayt-vxod-submit {
    height: 40px;
    width: 100%;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border: 0;
    background-color: #0f9ac5;
    color: white;
}

.sayt-vxod-submit:hover {
    color: white;
    background-color: #0B7FA2;
}

.form-reg {
    margin-top: 20px;
    color: #0f9ac5;
}

.form-zabilparol {
    padding-bottom: 22px;
    color: #0f9ac5;
}

.form-reg:hover {
    color: black;
}

.form-zabilparol:hover {
    color: black;
}

.posledniy-pleylist {
    border: 1px solid #E5E5E5;
}

.posledniy-img {
    position: relative;
    bottom: 3px;
}

.posledniy-mp3 {
    padding-bottom: 5px;
}

.hr-posledniy-treki {
    margin-top: 10px;
}

.download-mp3 {
    color: #14a2d0;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
}

.vxod-cherez {
    font-size: 16px;
    color: #888;
}

.nash-opros-div {
    border: 1px solid #E5E5E5;
}

.nash-opros {
    padding-top: 20px;
    color: #000;
    font-size: 16px;
    font-weight: bold;
    line-height: 0.8em;
}

.hr-padding {
    margin: 0;
    margin-bottom: 20px;
}

.music-no-reklam {
    color: #F32E42;
    font-size: 16px;
}

.vote-people {
    margin-top: 10px;
    background-color: #e23110;
    border-radius: 0;
    color: white;
    font-weight: bold;
    line-height: 1em;
} 

.vote-people:hover, .vote-people:focus {
    background-color: black;
    color: white;
} 

.vote-result {
    margin-top: 10px;
    margin-bottom: 15px;
    padding-left: 13px;
    padding-right: 13px;
    background-color: #ccc;
    border-radius: 0;
    color: white;
    font-weight: bold;
    line-height: 1em;
}

.vote-result:hover, .vote-result:focus {
    background-color: black;
    color: white;
}





















































footer {
    padding: 0;
    margin: 0;
    height: auto;
}

.container-detail {
    background-color: #232323;
}

.menu-footer a {
    color: #9DA3AA;
}

.menu-footer a:hover {
    color: white;
}

.p-footer {
    color: #aaa;
}

.nav-footer a:hover, .nav-footer a:focus {
    color: white;
    background-color: #555555 !important;
}